*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "SN Pro", sans-serif;
    background: url(img/curiosidades-sonic.jpg);
    color: #adadad;
}

header{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
}

main nav{
    padding: 10px;
    display: flex;
    justify-content: right; 
}

main nav a{
    background-color: #ad3906;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #281a2a;
    font-size: large;
}

main nav a::after{
    color: #022270;
}

main section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    margin: 10px;
    color: #022270;
}

footer{
    background-color: #ffe834;
    margin: 10px;
    padding: 10px;
    color: #022270;
    position: absolute;
}

main section div{
    padding: 5px 10%;
}

main section div ul{
    margin: 2px 20px;
}

main section div h2{
    font-size: 30px;
}

form{
    width: 100%;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
}

form input{
    width: 80%;
    height: 30px;
    border: 1px solid #022270;
    border-radius: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    color: #022270;
    margin-right: 5px;
}

form button{
    width: 50%;
    background-color: #ad3906;
    color: #281a2a;
    border: 1px solid #022270;
    border-radius: 10px;
    height: 30px;
    padding-left: 5px;
    font-size: large;
}

form .texto{
    width: 100px;
    height: 100px;
}